<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3964832612-6v441g4oief72v1puh3t29ft3s9rs0me.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3964832612-6v441g4oief72v1puh3t29ft3s9rs0me</string>
	<key>API_KEY</key>
	<string>AIzaSyDXlk2m9V1Gid6BN5BE_Ju8qmPB4pVwt8w</string>
	<key>GCM_SENDER_ID</key>
	<string>3964832612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmedsaeed.market</string>
	<key>PROJECT_ID</key>
	<string>market-bd177</string>
	<key>STORAGE_BUCKET</key>
	<string>market-bd177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3964832612:ios:01f547a442f6a7fe364871</string>
	<key>DATABASE_URL</key>
	<string>https://market-bd177.firebaseio.com</string>
</dict>
</plist>